*{
margin: 0;
padding: 0;
box-sizing: border-box;

}






*{

    text-align: center;
        
}

 div{

background-color: rgb(0,255,255);

width: 400px;
height: 150%;
border: 1px solid rgb(16, 9, 32);
padding: 10%;
margin: auto;
 border-radius: 40PX; 
}